{% set total_usd = 0 %}
{% set total_btc = 0 %}
{% for balance in balances %}
    <tr>
        <td class="table-border">{{ balance.name | capitalize }}</td>
        <td>
            {% if balance.usd != 0 %}
                <strong class="text-success">{{ balance.usd | number_format(2, '.', ',') }}</strong>
            {% else %}
                {{ balance.usd | number_format(2, '.', ',') }}
            {% endif %}
            {% set total_usd =  total_usd + (balance.usd is defined and balance.usd != ''? balance.usd : 0 )%}
        </td>
        <td>
            {% if balance.btc != 0 %}
                <strong class="text-success">{{ balance.btc | number_format(8, '.', ',') }}</strong>
            {% else %}
                {{ balance.btc | number_format(8, '.', ',') }}
            {% endif %}
            {% set total_btc =  total_btc + (balance.btc is defined and balance.btc != ''? balance.btc : 0 )%}
        </td>
    </tr>
{% endfor %}
<tr>
    <td class="table-border table-totals">Total</td>
    <td class="table-totals">
        {% if total_usd != 0 %}
            <span class="text-success">{{ total_usd | number_format(2, '.', ',') }}</span>
        {% else %}
            <strong>{{ total_usd | number_format(2, '.', ',') }}</strong>
        {% endif %}
    </td>
    <td class="table-totals">
        {% if total_btc != 0 %}
            <span class="text-success">{{ total_btc | number_format(8, '.', ',') }}</span>
        {% else %}
            <strong>{{ total_btc | number_format(8, '.', ',') }}</strong>
        {% endif %}
    </td>
</tr>
