
{% set total_usd = 0 %}
{% set total_btc = 0 %}
{% for balance in balances %}
    <tr>

        <td>{{ balance.name | capitalize }}</td>
        <td>
            {{ balance.usd | number_format(2, '.', ',') }}
            {% set total_usd =  total_usd + (balance.usd is defined and balance.usd != ''? balance.usd : 0 )%}
        </td>
        <td>
            {{ balance.btc | number_format(8, '.', ',') }}
            {% set total_btc =  total_btc + (balance.btc is defined and balance.btc != ''? balance.btc : 0 )%}
        </td>
    </tr>
{% endfor %}
<tr style="background-color: #A0A0A0;">
    <td>Total</td>
    <td>
        {{ total_usd | number_format(2, '.', ',') }}
    </td>
    <td>
        {{ total_btc | number_format(8, '.', ',') }}

    </td>
</tr>
