{% for difference in differences %}
    <tr>
        <td style="border-right: 1px solid grey;">{{ difference.exchangeAskName |capitalize }}</td>
        <td style="border-right: 1px solid grey;">{{ difference.exchangeBidName |capitalize }}</td>
        <td>
            {{ difference.ask | number_format(2, '.', ',') }}
        </td>
        <td style="border-right: 1px solid grey;">
            {{ difference.bid | number_format(2, '.', ',') }}
        </td>
        <td>
            {% if difference.difference >= thresholdUsd %}
                <span class="text-success" style="font-weight: bold;">{{ difference.difference | number_format(2, '.', ',') }}</span>
            {% else %}
                <span class="text-danger" style="font-weight: bold;">{{ difference.difference | number_format(2, '.', ',') }}</span>
            {% endif %}
        </td>
    </tr>
{% endfor %}
