{% extends '@App/base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('build/css/dashboard.min.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Bot Parameters <small><span id="trading-since">Trading start time: {{ status.startDate | date('d/m/Y h:i:s') }}</span></small></h3>
                </div>

                <div class="box-body">
                    <form id="trading-form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Threshold (USD)</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                            <input type="number" min="1" step="any" class="form-control" id="threshold-usd" required="required" value="{{ status.thresholdUsd  }}" {{ status.running ? 'disabled' : '' }}>
                                        </div>
                                        <small>If the difference in USD between two exchanges is bigger than this value, a trade is placed in both exchanges.</small>
                                    </div>

                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Order value (USD)</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                            <input type="number" min="1" step="any" class="form-control" id="order-value-usd" required="required" value="{{ status.orderValueUsd  }}" {{ status.running ? 'disabled' : '' }}>
                                        </div>

                                        <small>When an order is placed, this is the value in USD for both, the buy and sell orders.</small>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Add or substract to order (USD)</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                            <input type="number" min="0" step="any" class="form-control" id="add-or-sub-to-order-usd" required="required" value="{{ status.addOrSubToOrderUsd  }}" {{ status.running ? 'disabled' : '' }}>
                                        </div>

                                        <small>The USD added to buy orders or substracted to sell orders to ensure the order is executed fast. The greater this value, the more likely the order is executed fast.</small>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Max open orders</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-line-chart"></i></span>
                                            <input type="number" min="1" step="1" class="form-control" id="max-open-orders" value="{{ status.maxOpenOrders  }}" {{ status.running ? 'disabled' : '' }}>
                                        </div>

                                        <small>The number of order pairs the system will keep open. If the value is 1, no new order pair will be placed until the previous one is closed. Leave empty for infinite open order pairs.</small>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Trading time (Minutes)</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                            <input type="number" min="1" step="1" class="form-control" id="trading-time-minutes" value="{{ status.tradingTimeMinutes }}" {{ status.running ? 'disabled' : '' }}>
                                        </div>

                                        <small>Minutes the bot is trading. Leave this field empty for infinite time.</small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="box-footer">
                    <button id="start-btn" class="btn {{ status.running ? 'btn-default' : 'btn-primary' }}">Start</button>
                    <button id="stop-btn" class="btn {{ status.running ? 'btn-danger' : 'btn-default' }}">Stop</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Balances</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th style="width: 10px;border-right: 1px solid grey;">Exchange</th>
                            <th>Initial <i class="fa fa-dollar"></i></th>
                            <th style="border-right: 1px solid grey;">Current <i class="fa fa-dollar"></i></th>
                            <th>Initial <i class="fa fa-btc"></i></th>
                            <th style="border-right: 1px solid grey;">Current <i class="fa fa-btc"></i></th>
                            <th>Profit</th>
                        </tr>
                        <tbody id="balance-table">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Ticker</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th style="width: 10px;border-right: 1px solid grey;">Exchange</th>
                            <th>Ask</th>
                            <th>Bid</th>
                        </tr>
                        <tbody id="ticker-table">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">Differences</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>Exchange Ask</th>
                            <th>Exchange Bid</th>
                            <th>Ask <i class="fa fa-dollar"></i></th>
                            <th>Bid <i class="fa fa-dollar"></i></th>
                            <th>Difference <i class="fa fa-dollar"></i></th>
                        </tr>
                        <tbody id="difference-table">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Order Pairs</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>Exchange Buy</th>
                            <th>Btc Buy</th>
                            <th>Price</th>
                            <th>Usd paid</th>
                            <th>Open</th>
                            <th>Exchange Sell</th>
                            <th>Btc Sell</th>
                            <th>Price</th>
                            <th>Usd received</th>
                            <th>Open</th>
                            <th>Estimated Profit</th>
                        </tr>
                        <tbody id="order-pair-table">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        var running = {{ status.running == true ? 'true' : 'false' }};
        var interval = {{ interval }};
    </script>
    <script src="{{ asset('build/js/dashboard.min.js') }}"></script>
{% endblock %}