<table class="table table-striped">
    <tr>
        <th style="width: 10px;border-right: 1px solid grey;">Exchange</th>
        <th>Initial ask</th>
        <th style="border-right: 1px solid grey;">Current ask</th>
        <th>Initial bid</th>
        <th>Current bid</th>
    </tr>
    {% for ticker in tickers %}
        <tr>

            <td style="border-right: 1px solid grey;">{{ ticker.name }}</td>
            <td>
                {{ ticker.first.ask | number_format(2, '.', ',') }}
            </td>
            <td style="border-right: 1px solid grey;">
                {% if ticker.last.ask > ticker.first.ask %}
                    <span class="text-success" style="font-weight: bold;">{{ ticker.last.ask | number_format(2, '.', ',') }}</span>
                {% elseif ticker.last.ask < ticker.first.ask %}
                    <span class="text-danger" style="font-weight: bold;">{{ ticker.last.ask | number_format(2, '.', ',') }}</span>
                {% else %}
                    {{ ticker.last.ask | number_format(2, '.', ',') }}
                {% endif %}
            </td>
            <td>
                {{ ticker.first.bid | number_format(2, '.', ',') }}
            </td>
            <td>
                {% if ticker.last.bid > ticker.first.bid %}
                    <span class="text-success" style="font-weight: bold;">{{ ticker.last.bid | number_format(2, '.', ',') }}</span>
                {% elseif ticker.last.bid < ticker.first.bid %}
                    <span class="text-danger" style="font-weight: bold;">{{ ticker.last.bid | number_format(2, '.', ',') }}</span>
                {% else %}
                    {{ ticker.last.bid | number_format(2, '.', ',') }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>